.App {
  text-align: center;
  background-color:#f8f8f8;
}
.App .container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
.section{
  position: relative;
  min-height:38rem;
  width:100%;
  padding:10% 3.5rem;
  top:0;
}

/* Theme's */

.light{
  background-color:rgb(219, 213, 213);
  color: #111111;
}

.dark{
  background-color:#111111;
  color: rgb(219, 213, 213);
}

/* Photos */
.stock-photo{
  position:relative;
  height: 80%;
  width:80%;
  top:5%;
}

/* Main.js */

.main-container .stock-photo{
  position: relative;
  border-radius: 100%;
  max-width: 25rem;
  max-height: 30rem;
  
}

.main-text{
  position: relative;
  max-height:25em;
}

.main-text h1{
  font-size: 8vw;
  letter-spacing: -0.025em;
  font-weight: 300;
  margin-bottom:2.5rem;
}

.main-text p{
  font-size: 4vw;
  line-height: 1.75em;
  font-weight: 300;
}

@media screen and (min-width: 995px) {
  .main-text h1 {
    font-size: 3em;
    letter-spacing: -0.025em;
  font-weight: 300;
  margin-bottom:2.5rem;
  }

  .main-text p{
    font-size: 1.5em;
    line-height: 1.75em;
  }
}

/* Fun.js */

.fn-first-text {
  position: relative;
  display: block;
  text-align: left; 
  margin-top:1.5rem;
  /* border: 1px solid black;
  background-color: rgba(239, 241, 241, 0.81);
  height: 13rem;
  width: 25rem; */
  font-size: small;
}

.fn-first-text .fa-youtube{
  margin-top:10px;
}
.fn-photo-1{
  height:20rem;
  width:100%;
}

.fun-container p{
  max-width: 80%;
  display: inline-block;
  margin-top:10px;
}

/* About.js */

.about-container .fab{
  margin:10px;
  font-size:10vw;
}

.about-container ul{
  list-style: none;
  text-align: center;
  margin-left:-30px;
  display: inline-block;
}
.about-container ul li{
  margin-top:10px;
}

/* .about-container ul li:hover{
  color:rgb(171, 180, 40);
  transition: all 0.8s;
  font-size:1.3em;
} */




/* Nav Bar */
.my-tab{
    position: relative;
    padding:8.5px;
    display:block;
    text-align: left;
    color:rgb(219, 213, 213);
    border-radius: 5px;
  }
  
  .my-tab:hover{
    cursor: pointer;
    transition: all 0.8s;
    background-color:rgba(245, 245, 245, 0.562); 
    color: #806543;
  }

.test{
  position:relative;
  height:100%;
  width:100%;
  right: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 760px) {
  .parallax {
    background-attachment: scroll;
  }
} 
#Cincinnati{
  background-image: url('https://images.unsplash.com/photo-1500058616600-a743332abf53?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
}

#Chicago{
  background-image: url('https://images.unsplash.com/photo-1524168272322-bf73616d9cb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
}

.text {
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 60%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}
